.characters {
  &__notFound {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px 15px;

    &--card {
      border-image-source: url('/src/images/marcoDorado.png');
      border-image-slice: 50;
      border-style: solid;
      border-width: 20px;
      width: 150px;
      height: 280px;
      display: flex;
      justify-content: center;
      padding: 20px 0;
      background-clip: padding-box;
    }
  }
}
.link {
  text-decoration: none;
  color: rgb(230, 226, 226);
  &:hover {
    color: black;
  }
}
