.characters {
  background-color: lightgray;
  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px 15px;
    background-color: blue;
    &--card {
      width: 150px;
      height: 250px;
      background-color: green;
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }
  }
}
