.card {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: flex-start;

  &__image {
    width: 100px;
    height: 150px;
  }
  &__text {
    text-align: center;
    padding: 5px;
  }
}
